.style {
  position: sticky;
  height: 62px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 84px;
  z-index: 1;

  @media (--large-screen) {
    height: 0;
    display: block;
  }

  nav {
    display: none;
    width: 450px;
    max-width: 100%;
    margin-top: 20px;
    position: relative;

    &[data-is-open] {
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      left: calc(50% - 6px);
      top: -3px;
      transform: rotate(-135deg);
      height: 12px;
      width: 12px;
      background-color: #fff;
      box-shadow: 2px 2px 0px 0px var(--blue);
      z-index: 2;

      @media (--large-screen) {
        left: 24px;
      }
    }

    div {
      max-height: calc(100vh - 126px);
      overflow: auto;
      position: absolute;
      background-color: #fff;
      padding: 16px;
      border: 2px solid var(--blue);
    }
  }

  ul {
    position: relative;
    background: #fff;
  }

  li {
    padding-left: calc(calc(var(--level) - 2) * 26px);
  }
}
