.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.table {
  width: 100%;
  margin-top: 40px;
  font-weight: 400;
  border-collapse: collapse;
  color: var(--grey4);
  font-size: var(--level-6-font-size);
  line-height: var(--level-6-line-height);

  thead {
    display: none;
  }

  th {
    font-weight: 800;
    text-align: left;
  }

  tr {
    vertical-align: top;
    border-top: 1px solid var(--grey2);
    border-bottom: 1px solid var(--grey2);
    &:hover {
      background-color: #f5f5f5;
    }
  }

  td {
    display: block;
    width: 100%;
    a {
      text-decoration-thickness: 1px;
    }
  }

  td:first-child {
    font-weight: 800;
    padding: 20px 0 8px 0;
    width: 100%;
    a {
      font-weight: 400;
    }
  }

  td:nth-child(2) {
    padding: 8px 0;
    width: 100%;
    &:before {
      content: 'Categorie: ';
      display: inline;
      font-weight: 800;
    }
  }

  td:nth-child(3) {
    padding: 8px 0 20px 0;
    button {
      padding: 0;
    }
  }

  @media (--large-screen) {
    thead {
      display: table-header-group;
      tr {
        &:hover {
          background-color: white;
        }
      }
    }

    tr {
      border-top: none;
    }

    td {
      display: table-cell;
    }

    th:first-child,
    td:first-child {
      padding: 12px 0;
      width: 48.75%;
      padding: 12px 16px;
    }

    td:first-child {
      font-weight: 400;
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding: 12px 0;
      width: 18%;
    }

    td:nth-child(2) {
      &:before {
        content: '';
      }
    }

    td:nth-child(3) {
      padding: 12px 0;
      button {
        padding-left: 16px;
      }
    }
  }
}

.list {
  margin-top: 40px;
  font-weight: 400;
  color: var(--grey4);
  font-size: var(--level-6-font-size);
  line-height: var(--level-6-line-height);

  div {
    width: 100%;
    display: block;
    border-bottom: none;
    padding: 24px 0 0 0;

    @media (--large-screen) {
      display: flex;
      align-items: flex-start;
      padding: 12px 16px;
      border-bottom: 1px solid var(--grey2);
    }
  }

  dt {
    flex-basis: 30%;
    margin-bottom: 8px;
    font-weight: 800;
    @media (--large-screen) {
      margin-bottom: 0;
      font-weight: 400;
    }
  }

  dd {
    margin: 0;
    flex-basis: 70%;
  }
}
