.container {
  padding: 0 12px;

  @media (--large-screen) {
    padding: 0 32px;
  }
}

.intro {
  min-height: 0;

  @media (--large-screen) {
    min-height: 240px;
  }

  & a {
    font-size: var(--level-6-font-size);
    line-height: var(--level-6-line-height);
    padding-bottom: 2px;
  }
}

.colorBar {
  margin-bottom: 52px;
  padding: 0 12px;
  background: linear-gradient(
    white calc(50% - 36px),
    var(--color) calc(50% - 36px)
  );

  @media (--large-screen) {
    margin-bottom: 100px;
    padding: 0 32px;
    background: var(--color);
  }
}

.chartContainer {
  margin-top: 0;
  padding-bottom: 72px;

  @media (--large-screen) {
    margin-top: -260px;
    padding-bottom: 80px;
  }
}

.chart {
  padding: 24px 16px;
  border: 1px solid var(--grey1);
  background-color: white;

  @media (--large-screen) {
    padding: 40px 56px;
  }
}

.caption {
  color: var(--color, 'black');
  text-align: right;
  margin-top: 8px;
}

.features {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px 60px 32px;
  }
}

.collections {
  padding: 0 12px 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px 120px 32px;
  }

  ul {
    &[data-columns] {
      columns: 2;
    }
  }
}

.largeImage {
  position: relative;

  height: 66vw;
  margin-bottom: 40px;
  margin-left: 16px;

  @media (--large-screen) {
    height: 33vw;
    margin-left: 0;
    margin-bottom: 0;
    max-height: 540px;
  }
}

.smallImage {
  position: relative;
  height: 50%;
  width: 40%;
  border: 8px solid white;
  top: 40%;
  margin-left: -20px;
}
