@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Because of our sticky header we add its height + 24px as scroll-padding-top 
   to all focusable and navigable elements. On mobile we increase to 184px to accomomodate
   the table of content button */
html {
  scroll-padding-top: 184px;
}

@media (--large-screen) {
  html {
    scroll-padding-top: 108px;
  }
}

/* utils */
.hide-visually {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

strong {
  font-weight: 800;
}
