@keyframes pulse {
  0% {
    background-color: var(--grey);
  }
  50% {
    background-color: var(--grey1);
  }
  100% {
    background-color: var(--grey);
  }
}

.style {
  animation: pulse 2s ease-in-out infinite;
  height: var(--height);

  @media (--large-screen) {
    height: var(--heigh-lg, var(--height));
  }
}
