.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.multipleDownloads {
  display: flex;
  justify-content: center;

  summary {
    font-size: var(--level-6-font-size);
    line-height: var(--level-6-line-height);
  }
}

.buttons {
  margin-bottom: 12px;
  li {
    display: block;

    font-size: var(--level-6-font-size);
    line-height: var(--level-6-line-height);

    @media (--large-screen) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12px;

      > div:last-of-type {
        width: 220px;
        flex: 0 0 220px;
      }
    }
  }
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* wrapper cover image */
  & > div:first-of-type {
    border: 2px solid var(--grey1);
    margin-bottom: 40px;
    min-width: 220px;
    max-width: 400px;
  }

  /* wrapper download button */
  & > div:nth-child(2) {
    display: flex;
    justify-content: center;
  }
}
