.style {
  li {
    display: inline;
    color: var(--grey4);
    font-size: var(--level-6-font-size);
    line-height: var(--level-6-line-height);

    &::after {
      content: ' | ';
    }

    &:last-child::after {
      content: '';
    }
  }
}
