.container {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  overflow: auto;
  max-height: 100vh;
  width: 100%;
  padding: 80px 12px;
  display: none;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;

  @media (--large-screen) {
    grid-template-columns: repeat(12, 1fr);
    padding: 80px 32px;
  }

  &[data-is-open] {
    display: grid;
  }
}

.searchLink {
  display: block;
  @media (--large-screen) {
    display: none;
  }
}

.column {
  columns: auto;
  a {
    font-weight: 700;
  }

  @media (--large-screen) {
    columns: 2;
  }
}

.menuItem {
  padding-top: 8px;
  padding-bottom: 8px;
  a {
    font-size: var(--level-5-font-size);
  }
}

.lightLink {
  font-weight: 400;
}
