.style {
  position: relative;
  width: 100%;

  /* Set native outline on card if card has focus visible within
     and zoom in on image if it has one. */
  &:has(:focus-visible) {
    outline-color: currentColor;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
  }

  /* Remove link focus outline only if :has is supported,
     which means the outline on the whole card is set */
  &:has(:focus-visible) a:focus {
    outline: none;
  }

  /* Animate only the card image, not the icon */
  & > div > img:first-child {
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    & > div > img:first-child {
      transform: scale(1.07);
    }
  }

  a {
    color: var(--blue);
    text-decoration: none;

    /* This trick, together with position: relative on the outer wrapper, 
      makes the whole card clickable. Taken from https://inclusive-components.design/cards/ */
    &::after {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  /* There are 3 Card variant: large (first feature on the homepage), 
     medium (with an image) and small (default, for search results) */

  /* Large cards have some extra spacing above the title */
  &[data-variant='large'] {
    hgroup p {
      margin-bottom: 8px;
    }
  }

  /* Large and medium cards have a black title and a blue one on hover */
  &[data-variant='large'],
  &[data-variant='medium'] {
    a {
      color: black;
      &:hover,
      &:focus {
        color: var(--blue);
      }
    }
  }

  /* Small cards have a blue title and an underline on hover */
  &[data-variant='small'] {
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  /* Small and medium cards have a title limited to 3 lines */
  &[data-variant='medium'],
  &[data-variant='small'] {
    a {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
    }
  }

  /* medium cards have a description limited to 4 lines */
  &[data-variant='medium'] {
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
    }
  }

  /* Small cards  have a description limited to 3 lines */
  &[data-variant='small'] {
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
    }
  }
}

.image {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: calc(16 / 9);

  &[data-aspect-ratio='4-3'] {
    @media (--large-screen) {
      aspect-ratio: calc(4 / 3);
    }
  }

  &[data-full-width='true'] {
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px);

    @media (--large-screen) {
      margin: 0;
      width: 100%;
    }
  }
}

.icon {
  position: absolute;
  height: 48px;
  width: 48px;
  left: calc(50% - 24px);
  bottom: calc(50% - 24px);

  @media (--large-screen) {
    left: 16px;
    bottom: 16px;
  }
}

.headingGroup {
  display: flex;
  flex-direction: column-reverse;

  p {
    text-transform: capitalize;
    margin-bottom: 4px;
  }

  h2 {
    line-height: 1.15;
    margin-bottom: 8px;
  }
  h3 {
    line-height: 1.35;
    margin-bottom: 8px;
  }
}
