.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.container404 {
  /* force footer to bottom */
  min-height: calc(100vh - 610px);
}

.titleLarge {
  display: none;
  @media (--large-screen) {
    display: block;
  }
}

.nav {
  li {
    word-break: break-word;
  }

  @media (--large-screen) {
    display: none;
  }
}

.navLarge {
  display: none;

  @media (--large-screen) {
    display: block;
    margin-top: 112px;
  }

  li {
    word-break: break-word;
  }
}

.featureList {
  display: grid;
  grid-template-columns: 1fr;

  /*
    This hacky code is used to align the column gap to the grid gap.
    This will only work if CardList is 8 grid columns wide.
  */
  column-gap: calc((100% + 100% * (1 / 3)) / 50);

  li {
    display: flex;
    break-inside: avoid;
    width: 100%;
  }

  @media (--large-screen) {
    grid-template-columns: 1fr 1fr;
    li:nth-child(even) {
      padding-top: 80px;
    }
  }
}

.collectionList {
  column-gap: calc(2%);
}
