.style {
  width: 100%;
  background-color: var(--grey);
  border: 1px solid var(--grey1);

  /* buttons  */
  & > div:nth-of-type(1) {
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 14px 0 12px;

    @media (--large-screen) {
      justify-content: flex-end;
    }

    button {
      padding: 8px 10px;
    }
  }

  /* transcript */
  & > div:nth-of-type(2) {
    display: none;
    grid-column: auto;
    padding: 16px;
    margin-top: 8px;

    &[data-open] {
      display: block;
    }

    @media (--large-screen) {
      grid-column: 1 / span 2;
    }
  }
}
