.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /*
    This hacky code is used to align the column gap to the grid gap.
    This will only work if CardList is 8 grid columns wide.
  */
  column-gap: calc((100% + 100% * (1 / 3)) / 50);

  /*
    Collection cards expand to full width at a lower breakpoint than
    we use in the rest of the site
  */
  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.feature {
  display: flex;
  break-inside: avoid;
  width: 100%;

  &:nth-child(even) {
    padding-top: 120px;

    /* Collection cards expand to full width at a lower breakpoint than
        we use in the rest of the site */
    @media screen and (max-width: 640px) {
      padding-top: 0;
    }
  }
}

.toggle {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  &[data-is-open] {
    transform: rotate(180deg);
  }
}
