.style {
  position: relative;
  display: flex;
  align-items: center;

  input {
    border-width: 0 0 1px 0;
    border-color: var(--grey3);
    font-size: var(--level-5-font-size);
    line-height: var(--level-5-line-height);
    appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 8px;
    padding-right: 72px;
    width: 100%;
    background-color: white;

    /* remove webkit native styling */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    @media (--large-screen) {
      padding: 16px;
      padding-right: 64px;
    }
  }

  > div {
    position: absolute;
    right: 16px;
  }
}

.search {
  padding: 8px;
}
