.container {
  padding-right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & input[type='range'] {
    grid-column: 1 / span 2;
    grid-row: 1;
    pointer-events: none;

    /* custom styles for webkit */

    &::-webkit-slider-thumb {
      pointer-events: auto;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      box-shadow: none;
      background: none;
    }

    /* custom styles for FireFox */

    &::-moz-range-thumb {
      pointer-events: auto;
      cursor: pointer;
    }

    &::-moz-range-track {
      box-shadow: none;
      background: none;
    }
  }
}

.track {
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: 4px;
  pointer-events: none;
  align-self: center;

  background: linear-gradient(
    to right,
    var(--grey2) 0%,
    var(--grey2) var(--min),
    var(--blue) var(--min),
    var(--blue) var(--max),
    var(--grey2) var(--max),
    var(--grey2) 100%
  );
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  & label {
    font-weight: 400;
    margin-bottom: 8px;
  }

  & input[type='number'] {
    font-size: var(--level-5-font-size);
    line-height: var(--level-5-line-height);
    width: 120px;
    padding: 4px 0 4px 36px;
  }

  &[data-right] {
    align-items: flex-end;
  }
}
