.style {
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;

  main {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  padding: 8px 0;

  &:hover {
    color: white;
    background-color: var(--dark-blue);
  }

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
