.button {
  font-size: var(--level-5-font-size);
  line-height: var(--level-5-line-height);
  font-weight: 400;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--blue);
  background-color: transparent;
  padding: 8px 16px 8px 0;
  display: inline-flex;
  flex-direction: column;

  & path,
  & circle,
  & rect,
  & polygon {
    fill: var(--blue);
  }

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 800;

    @media speech {
      display: none;
    }
  }

  &[aria-pressed='true'] {
    font-weight: 800;
    color: black;
    cursor: default;
    text-decoration: none;

    :hover,
    :focus {
      text-decoration: none;
    }
  }
}
