.wrapper {
  position: sticky;
  top: 0;
  height: 84px;
  padding: 20px 12px;
  background-color: white;
  z-index: 501;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.heading {
  display: grid;
  padding-right: 24px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;

  /* limit width of link when the title is not visible */
  width: 220px;

  &[data-with-title] {
    width: auto;
  }
}

.logo {
  width: 30px;

  @media (--large-screen) {
    /* limit width of link when the title is not visible */
    width: 220px;
    padding-right: 12px;

    /*  This magic nummer is used to put the title on the grid without 
        the need of subgrids: 2 * (100 / 12) /  8 * (100 / 12) -2 = 25.777 */
    &[data-with-title] {
      width: 25.77%;
    }
  }
}

.large {
  display: none;
  max-width: 100%;
  /* logo height is fluid like the title */
  height: calc(var(--level-3-font-size) * 1.2);

  @media (--large-screen) {
    display: block;
  }
}

.small {
  height: 42px;
  display: flex;

  @media (--large-screen) {
    display: none;
  }
}

.title {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 0;
  height: 0;
  color: black;
  font-weight: 800;
  font-size: var(--level-3-font-size);
  line-height: 1;

  &[data-with-title] {
    opacity: 1;
    width: auto;
    height: auto;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
}
