.button {
  position: relative;
  min-height: 44px;
  min-width: 44px;
  background-color: transparent;
  color: var(--grey4);
  padding-right: 24px;

  &[data-is-open] {
    font-weight: 800;
  }

  &:hover {
    color: var(--blue);
    background-color: transparent;

    & span:last-of-type {
      background-color: var(--blue);
    }
  }

  &:focus {
    background-color: transparent;
  }

  /* Display: grid together with setting the buttons :after and Label to
     start on column 1 and row 1 is used to avoid a layout shift when you open
     the menu and the 'Menu' text becomes bold. */
  display: grid;
  grid-template-columns: 1fr;

  &:after {
    content: 'Menu';
    grid-row-start: 1;
    grid-column-start: 1;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 800;
    display: none;

    @media speech {
      display: none;
    }

    @media (--large-screen) {
      display: block;
    }
  }
}

.icon {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
  transition-property: transform;
  transform: none;
  position: absolute;
  background-color: var(--grey4);
  width: 24px;
  height: 3px;
  bottom: 50%;
  right: 0px;

  &[data-is-open] {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.12s;
    transform: rotate(45deg);
  }

  &::before,
  &::after {
    display: block;
    content: '';
    width: 24px;
    height: 3px;
    background-color: inherit;
    position: absolute;
  }

  &::before {
    top: -7px;
    opacity: 1;
    transition:
      top 75ms ease 0.12s,
      opacity 75ms ease 0s;
  }

  &::after {
    bottom: -7px;
    transition:
      bottom 75ms ease 0.12s,
      transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &[data-is-open] {
    &::before {
      top: 0;
      opacity: 0;
      transition:
        top 75ms ease,
        opacity 75ms ease 0.12s;
    }
    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition:
        bottom 75ms ease,
        transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }
  }

  @media (--large-screen) {
    width: 16px;
    height: 2px;

    &::before {
      top: -5px;
      width: 16px;
      height: 2px;
    }
    &::after {
      bottom: -5px;
      width: 16px;
      height: 2px;
    }
  }
}

.label {
  grid-row-start: 1;
  grid-column-start: 1;
  display: none;
  @media (--large-screen) {
    display: block;
  }
}
