.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text,
.list,
.listItem {
  display: inline;
}

.listItem {
  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: '.';
  }
}

.share {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: flex-end;
  button {
    justify-content: center;
    width: 32px;
    padding: 0;
  }
  svg * {
    fill: var(--blue);
  }
  svg:hover * {
    fill: var(--grey-4);
  }
}
