.style {
  width: 100%;
  font-weight: 400;
  border-collapse: collapse;
  color: var(--grey4);
  font-size: var(--level-6-font-size);
  line-height: var(--level-6-line-height);

  & thead {
    display: none;
  }
  & tr {
    display: block;
    border-bottom: none;
    margin-bottom: 16px;
  }
  & td {
    display: block;
    padding-left: 0;
    width: 100%;
  }
  & th,
  & td {
    padding: 4px 0px;
  }

  /* on smallscreens add column title before each cell */
  & td::before {
    content: attr(data-col) ': ';
    font-weight: 800;
  }

  /* override markdown alignment */
  @media (--small-screen) {
    & th,
    & td {
      text-align: left !important;
    }
  }

  @media (--large-screen) {
    & thead {
      display: table-header-group;
      & tr {
        display: table-row;
        border-bottom: 1px solid black;
        &:hover {
          background-color: white;
        }
      }
    }

    & th {
      font-weight: 400;
      text-align: left;
    }

    & tr {
      display: table-row;
      border-bottom: 1px solid var(--grey2);
      &:hover {
        background-color: var(--grey);
      }
    }

    & th,
    & td {
      display: table-cell;
      width: auto;
      padding: 8px 16px;
    }

    & td::before {
      content: '';
    }
  }
}
