.style {
  position: relative;
  text-align: center;
  width: 100%;

  iframe {
    width: 100%;
    border: 0;
  }
}

.footer {
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--grey);

  p {
    padding-left: 24px;
    flex: 1 0 fit-content;
  }
}
