.style {
  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;

    /* hide 'zoeken' from header on small screens */
    & > li:first-of-type {
      display: none;
      @media (--large-screen) {
        display: block;
      }
    }
  }
}

.link {
  height: 100%;
  color: var(--grey4);
  align-items: center;
  padding: 8px 24px 8px 24px;

  &:hover {
    color: var(--blue);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}
