.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.video {
  &[data-wide] {
    margin-left: -12px;
    margin-right: -12px;

    @media (--large-screen) {
      margin-left: -32px;
      margin-right: -32px;
    }
  }
}

.iframe {
  width: 100%;
  min-height: 300px;
  margin-bottom: 48px;
}
