.style {
  object-fit: cover;
  width: 100%;
  display: block;

  video {
    /* turn off play controls in iOS */
    &::-webkit-media-controls-panel {
      appearance: none;
      display: none !important;
    }

    &::-webkit-media-controls-play-button {
      appearance: none;
      display: none !important;
    }

    &::-webkit-media-controls-start-playback-button {
      appearance: none;
      display: none !important;
    }
  }
}

.external {
  padding-top: calc((9 / 16) * 100%);
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
