.container {
  position: absolute;
  background-color: white;
  left: 0;
  top: 88px;
  width: 100vw;
  max-width: 1440px;
  padding: 16px;
  padding-bottom: 0;
  overflow: auto;
  max-height: calc(100% - 88px);
  display: none;

  &[data-is-open] {
    display: block;
    z-index: 503;
  }

  @media (--large-screen) {
    display: block;
    position: initial;
    padding: 0;
    width: auto;
    overflow: visible;
    z-index: 1;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0.01em 0 0 0;
    min-width: 0;
    margin: 0 0 56px 0;

    @media (--large-screen) {
      margin-top: 80px;
    }
  }
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @media (--large-screen) {
    display: none;
  }
}

.mobileFooter {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  bottom: 0;
  background-color: white;
  width: 100%;

  @media (--large-screen) {
    display: none;
  }

  button {
    width: 100%;
    justify-content: center;
  }
}

.toggle {
  display: block;
  position: sticky;
  bottom: 16px;
  left: 100%;

  @media (--large-screen) {
    display: none;
  }
}
