.container {
  background-color: var(--blue);
  color: white;
  padding: 40px 12px 16px 12px;

  @media (--large-screen) {
    padding: 40px 32px;
  }

  /* the heading of the last column gets an unusual margin 
    to align the list with the text in the previous columns */
  div:last-child h2 {
    margin-bottom: 23px;
  }
}

.bottom {
  padding: 0 12px;

  @media (--large-screen) {
    padding: 0 32px;
  }
  ul {
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 12px 0;
  }

  a {
    color: var(--grey-4);
  }
}
