.container {
  padding: 20px 12px;

  @media (--large-screen) {
    padding: 20px 32px;
  }
}

.header {
  display: flex;
  flex-direction: column-reverse;
}

.tags {
  padding-top: 24px;
  padding-bottom: 0;

  @media (--large-screen) {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (--large-screen) {
      gap: 16px;
    }
  }
}

.pagination ul {
  justify-content: flex-start;
}
